.center{
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ui.inverted.segment.header{
 background-color: #EEEEEE;
  color:black;
}

.item-list {
  word-wrap: break-word;
  width: 100%;
}

.ui.card.register{
background-color: #EEEEEE;
}

.create-lowongan{
    padding-bottom: 7%;
    padding-left:15%;
    padding-right:15%;
}

.ui.segment.form-segment{
  padding-bottom: 50px;
}

.tabs {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin: 0 7%;
  display: block;
}
.tabs__labels {
  margin: 0;
  padding: 0;
}
.tabs__labels li {
  display: inline-block;
}
.tabs__labels li a {
  padding: 8px 12px;
  display: block;
  color: #444;
  text-decoration: none;
  border-bottom: 2px solid #f5f5f5;
}
.tabs__labels li a.active {
  border-bottom-color: #337ab7;
}
.tabs__content {
  padding: 25px;
}

.halamanLogin{
  background-size: cover;
  background: url("../img/background.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 80px;
}


.headerLoginform{
  background-color: #2e6da4;
}

.formLogin{
  /*margin: auto;*/
  /*width: 430px;*/
}

.registerModal{
  margin: 0 auto;
}

.bookmark{
  float: right;
}

.formLogin img{
height: 70px !important;
margin:5px;
}

.formLogin span{
font-size: 32px;
}

.formLogin span{
  margin-left: 5px;
}

.LoginPage{
  height: 700px;
}

.input{
  margin-top: 5px;
}
.daftar{
  float: right;
  margin-top:10px;
}

.registerForm{
  margin: 0 auto;
  /*padding:50px;*/
  background-color: #3B8686;
}

h3{
  color:black;
}

h4{
  color: black;
}

h5{
  color: black;
}

.note {
  color: gray;
  margin: 8px 0;
}

input.active:valid {
  box-shadow: 0 0 5px 1px green;
}

input.active:invalid {
  box-shadow: 0 0 5px 1px red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

card .formRegis{
  margin-top: 100px;
}

.itemLowongan{
  color: black;
}

.ui.pointing.secondary.menu{
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-top: 0px;
}

.extra.extra-company h3{
  padding-top:10px;
}

.extra.extra-company h2{
  color: black;
}

.biodata h5{
  line-height: 30%;
}

.biodataCompany h4{
  color: grey;
}

.buttonProfile{
 margin-top:30px;
}

.ui.segment.profile-form{
  padding-bottom: 37px;
  margin-top:4%;
}

.profilePage {
  margin-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

#react-app{
 position: relative; /* needed for footer positioning*/
 /*height: 100% !important; !* real browsers *!*/
 min-height: 100%; /* real browsers */
 background-color: #EEEEEE;
}

.content{
  padding-bottom: 5%;
}

.mainContent{
    padding-bottom: 40px;
}

.footer{
 background-color: #031634;
 position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 30px;
 padding: 6px;
}

.footer h5{
  color:white;
}
.profilePage{
  margin-left:5%;
  margin-right:5%;
  margin-bottom: auto;
}

.ui.segment.segmentProfileCompany{
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
}

.ui.segment.profileFormCompany{
  margin-top:4%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom:3%;
}

.companyProfile{
  padding-bottom:5%;
}

.ui.segment.vacancyListCompany{
  margin-left: 10%;
  margin-right: 10%;
}

.ui.segment.paginationCompany{
  margin: 2% 7%;
}

.admin-bar{
  margin: 0;
  padding: 10px;
  width: 100%;
  text-align: right;
  background-color: #304D8A;
  color: white;
}

.dropdownApplicant{
  margin-left:7%;
  margin-top:2%;
  margin-bottom: 0;
}

.administrationButtons {
  margin-left:7%;
  margin-top:2%;
  margin-bottom: 2%;
}

.ui.segment.transkrip{
  margin-left:7%;
  margin-right:7%;
}

.ui.segment.kop {
  line-height: 5px;
}